---
description: Perform Legal Verification of the immovable collateral
---

# Legal Verification

All the collaterals added in the sales screen will be pre-populated in the this screen which can used for further verification

## Description

The screen is divided in 2 sections

* Application Details (Input)
* Verification Report (Output)

![](<../../.gitbook/assets/image (125).png>)

### Verification Screen

![](<../../.gitbook/assets/image (126).png>)

![](<../../.gitbook/assets/image (127).png>)

![](<../../.gitbook/assets/image (128).png>)

### Features

1. Multiple verification can be done for single collateral
2. Collateral details will be seen in the Input section
3. If collateral is deleted, then it will get deleted on this screen also
4. Output will be used by the roles to capture the data and upload images or documents
5. Verification Agency can be used to trigger this case to the agency. Agency type = `LEGAL_VERIFIER`
6. Capture Geolocation Feature : [Read here](field-inspection-fi.md#capture-geolocation-feature)

## **Other Details**

| **Item**                                                                                                   | **Link**                                  |
| ---------------------------------------------------------------------------------------------------------- | ----------------------------------------- |
| List of Fields                                                                                             | link                                      |
| List of Validations                                                                                        | link                                      |
| Masters (Dropdown + Standalone)                                                                            | link                                      |
| Possible Events                                                                                            | <ul><li>save-legal-verification</li></ul> |
| 3PI APIs                                                                                                   | <ul><li>NA</li></ul>                      |
| [Custom Object](../../for-admins/product-level/custom-objects.md#process-to-create-custom-objects) Support | Yes                                       |
